<h1>新規登録</h1>
<%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <%= f.label "名前" %>
  <%= f.text_field :name, autofocus: true, placeholder: "山田太郎" %>

  <%# <%= f.label "所属グループ" %>
  <%# <%= f.collection_select :group %>

  <%= f.label "メールアドレス" %>
  <%= f.email_field :email, placeholder: "sample@sample.com" %>

  <%= f.label "パスワード" %>
  <%= f.password_field :password, placeholder: "英数字6文字以上のパスワード" %>

  <%= f.label "パスワード再確認" %>
  <%= f.password_field :password_confirmation, placeholder: "同じパスワードを再入力" %>

  <%= f.submit "登録する" %>
<% end %>