<div class="main-wrapper">
  <%= form_with model: @group, url: group_path, local: true do |f| %>
    <div class="group">
      <%= f.label 'グループ名' %>
      <%= f.text_field :name %>
    </div>
    <div class="btns">
      <%= f.submit '確定する', class: "submit" %>
      <%= link_to '削除する', group_path(@group.id), method: :DELETE, class:"btn" %>
    </div>
  <% end %>
</div>