<h1>groups # edit</h1>

<%= form_with model: @group, url: group_path, local: true do |f| %>
  <%= f.label 'グループ名' %>
  <%= f.text_field :name %>
  <%= f.submit '確定する' %>
<% end %>

<p><%= link_to '削除する', group_path(@group.id), method: :DELETE %></p>