<div class="wrapper">
  <%= form_with model: @user, url: user_path, local: true, class:"form" do |f| %>
    <%= render "users/shared/error_messages", resource: @user %>
    <div class="form">
      <div class="name">
        <%= f.label "名前" %>
        <%= f.text_field :name, autofocus: true, placeholder: "山田太郎" %>
      </div>

      <div class="email">
        <%= f.label "メールアドレス" %>
        <%= f.email_field :email, placeholder: "sample@sample.com" %>
      </div>
      
      <div class="group">
        <%= f.fields_for :user_groups do |group| %>
          <%= f.label "グループ" %>
          <%= group.collection_select :group_id, Group.all, :id, :name %>
        <% end %>
      </div>
      <div class="btns">
        <%= f.submit "登録する", class: "submit"%>
        <%= link_to '戻る', user_path(@user.id), class:"btn" %>
        <%= link_to '削除', user_path(@user.id), method: :DELETE, class:"btn" %>
      </div>
    </div>
  <% end %>

</div>