<h3><%= @user.name %>さんのユーザーページ</h3>

<table border = 1>
  <tr>
    <th>メールアドレス</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>所属グループ</th>
    <td>
      <% @user.groups.each do |g| %>
        <%= g.name %>
      <% end %>
    </td>
  </tr>
</table>

<p><%= link_to '編集', edit_user_path(@user.id) %></p>
<p><%= link_to 'ユーザー一覧へ戻る', users_path %></p>