<div class="main-wrapper">
  <h3 class="username"><%= @user.name %>さんのマイページ</h3>

  <div class="table">
    <div class="table-row">
      <div class="table-row-left">
        <p class="table-header">メールアドレス</p>
      </div>
      <div class="table-row-right">
        <p class="table-data"><%= @user.email %></p>
      </div>
    </div>
    <div class="table-row">
      <div class="table-row-left">
        <p class="table-header">所属グループ</p>
      </div>
      <div class="table-row-right">
        <p class="table-data">
          <% @user.groups.each do |g| %>
            <%= g.name %>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="bottom btns">
    <p><%= link_to '編集', edit_user_path(@user.id), class:"btn" %></p>
    <p><%= link_to 'ユーザー一覧へ戻る', users_path, class:"btn" %></p>
  </div>
</div>