<%= javascript_pack_tag "index" %>
<div class="main_top">
  <% if user_signed_in? %>
    <p class="welcome_message">ようこそ、<%= @user.name %>さん</p>
  <% end %>
  <p><%= link_to '予定追加', new_schedule_path, class:"btn" %></p>
</div>
<div class="schedules-wrapper">
  <p>予定一覧</p>
<% if false %>
  <% @groups.each do |g| %>
    <p><%= link_to g.name, group_path(g.id) %></p>
    <p>
      <% g.schedules.each do |s| %>
        <p><%= link_to s.name, schedule_path(s.id) %>/<%= s.start %>~<%= s.end %></p>
      <% end %>
    </p>
  <% end %>

  <p>その他の予定</p>
  <% @schedules_not_in_group.each do |s| %>
    <p><%= link_to s.name, schedule_path(s.id) %>/<%= s.start %>~<%= s.end %></p>
  <% end %>
<% end %>
  <div id="calendar"></div>
</div>