<div>
  <% if user_signed_in? %>
    <p>ようこそ、<%= @user.name %>さん</p>
  <% end %>
</div>
<div class="schedules-wrapper">
  <p>予定一覧</p>
  <p><%= link_to '予定追加', new_schedule_path %></p>

<% if false %>
  <% @groups.each do |g| %>
    <p><%= link_to g.name, group_path(g.id) %></p>
    <p>
      <% g.schedules.each do |s| %>
        <p><%= link_to s.name, schedule_path(s.id) %>/<%= s.start %>~<%= s.end %></p>
      <% end %>
    </p>
  <% end %>

  <p>その他の予定</p>
  <% @schedules_not_in_group.each do |s| %>
    <p><%= link_to s.name, schedule_path(s.id) %>/<%= s.start %>~<%= s.end %></p>
  <% end %>
<% end %>
  <svg id="gantt"></svg>
  <div id="calendar"></div>
</div>