<h1>新規登録</h1>
<%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  <%= render "users/shared/error_messages", resource: @user %>

  <p>
    <%= f.label "名前" %>
    <%= f.text_field :name, autofocus: true, placeholder: "山田太郎" %>
  </p>

  <p>
    <%= f.label "メールアドレス" %>
    <%= f.email_field :email, placeholder: "sample@sample.com" %>
  </p>

  <p>
    <%= f.fields_for :user_groups do |group| %>
      <%= f.label "グループ" %>
      <%= group.collection_select :group_id, Group.all, :id, :name %>
    <% end %>
  </p>

  <p>
    <%= f.label "パスワード" %>
    <%= f.password_field :password, placeholder: "英数字6文字以上のパスワード" %>
  </p>

  <p>
    <%= f.label "パスワード再確認" %>
    <%= f.password_field :password_confirmation, placeholder: "同じパスワードを再入力" %>
  </p>

  <p><%= f.submit "登録する" %></p>
<% end %>